<form>
    <label style="display: block; margin-bottom: 20px;">
        <div>Actor:</div>
        <select name="source_actor">
            {{#each actors as |actor| }}
                <option value="{{ actor.data._id }}">{{ actor.path }}</option>
            {{/each}}
        </select>
    </label>

    <label style="display: block; margin-bottom: 20px;">
        <div>Quantity:</div>
        <input type="number" name="quantity" value="1" />
    </label>
</form>