<form>
    <div style="display: block; margin-bottom: 20px;">
        <div>Actors:</div>
        {{#each actors as |actor| }}
            <label style="display: block">
                <input type="checkbox" name="actors[]" value="{{ actor.data._id }}" /> {{ actor.path }}
            </label>
        {{/each}}
    </div>
</form>